
<html>
<head>
    <title>Spike shoes Website Template | Home :: w3layouts</title>
    <link href="@Url.Content("~/Content/style.css")" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <!----start-alert-scroller---->
    @{

        <script src="@Url.Content("~/scripts/jquery.min.js")"></script>
    }
    <script src="@Url.Content("~/scripts/jquery.min.js")" ></script>
    <script src="@Url.Content("~/scripts/jquery.easy-ticker.js")"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$('#demo').hide();
			$('.vticker').easyTicker();
		});
    </script>
    <!----start-alert-scroller---->
    <!-- start menu -->
    <link href="@Url.Content("~/Content/megamenu.css")" rel="stylesheet" type="text/css" media="all" />
    <script src="@Url.Content("~/scripts/megamenu.js")"></script>
    
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="@Url.Content("~/scripts/menu_jquery.js")" ></script>
    <!-- //End menu -->
    <!---slider---->
    <link rel="stylesheet" href="@Url.Content("~/Content/slippry.css")">
    <script @Url.Content("~/scripts/jquery-ui.js") ></script>
    <script @Url.Content("~/scripts/scripts-f0e4e0c2.js") ></script>
    <script>
			  jQuery('#jquery-demo').slippry({
			  // general elements & wrapper
			  slippryWrapper: '<div class="sy-box jquery-demo" />', // wrapper to wrap everything, including pager
			  // options
			  adaptiveHeight: false, // height of the sliders adapts to current slide
			  useCSS: false, // true, false -> fallback to js if no browser support
			  autoHover: false,
			  transition: 'fade'
			});
    </script>
    <!----start-pricerage-seletion---->
    <script src="@Url.Content("~/scripts/jquery-ui.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery-ui.css")">
    <script type='text/javascript'>//<![CDATA[
			$(window).load(function(){
			 $( "#slider-range" ).slider({
			            range: true,
			            min: 0,
			            max: 500,
			            values: [ 100, 400 ],
			            slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
			            }
			 });
			$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

			});//]]>
    </script>
    <!----//End-pricerage-seletion---->
    <!---move-top-top---->
    <script src="@Url.Content("~/scripts/move-top.js")"></script>
    <script src="@Url.Content("~/scripts/easing.js")"></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
    </script>

    <script type="text/javascript" src="@Url.Content("~/scripts/CartTonge.js")"></script>
      
                        
    <!---//move-top-top---->
</head>
<body>
    <!---start-wrap---->
    <!---start-header---->
    <div class="header">
        <div class="top-header">
            <div class="wrap">
                <div class="top-header-left">
                    <ul>
                        <!---cart-tonggle-script---->
                        
                        <!---//cart-tonggle-script---->
                        <li><a class="cart" href="#"><span id="clickme"> </span></a></li>
                        <!---start-cart-bag---->
                        @Html.Partial("_CarritoBillPartial")
                        <!---start-cart-bag---->
                        <li><a class="info" href="#"><span> </span></a></li>
                    </ul>
                </div>
                <div class="top-header-center">
                    <div class="top-header-center-alert-left">
                        <h3>FREE DELIVERY</h3>
                    </div>
                    <div class="top-header-center-alert-right">
                        <div class="vticker">
                            <ul>
                                <li>Applies to orders of $50 or more. <label>Returns are always free.</label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="top-header-right">
                    <ul>
                        <li><a href="login.html">Login</a><span> </span></li>
                        <li><a href="register.html">Join</a></li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
        <!----start-mid-head---->
        
    <!---//End-footer---->
    <!---//End-wrap---->
</body>
</html>
